<div class="flex flex-col w-full justify-center items-center">

  <%= render 'layouts/mobile', class: "relative z-10" %>

  <div class="bg-[url('bkg.webp')] absolute z-0 -top-[195px] right-0 bg-no-repeat bg-cover w-[117vw] h-[136vh] min-[1500px]:w-[105vw] min-[1500px]:h-[101vh]"></div>

  <div class="relative overflow-hidden w-full h-[300px] -mt-[35px]"> 
    <%= image_tag 'front.png', alt: 'City background', class: "w-full h-full object-cover relative z-10" %>
  </div>

  <div class="flex items-center px-[8vw] flex-col lg:flex-row gap-5 xl:!gap-24 2xl:!gap-[168px] pt-10 z-10">
    <div class="flex flex-col gap-[0.5 rem]">
      <h2 class="text-[1.3rem] 2xl:text-[1.37rem] font-thin">Your resource for homes and real estate in</h2>
      <h3 class="text-[3.5rem] sm:text-[4rem] font-bold">Atlanta, GA</h3>
    </div>
    <p class="lg:w-[48vw] lg:pt-5 leading-6 text-[0.875rem]">The heart of downtown is swimming with exciting nightlife, world-famous attractions, and historic landmarks; the surrounding neighborhoods offer unique, local businesses that reflect the individual character of each area. In the midst of all the urban city activities, Atlanta real estate is also surrounded by a variety of parks, gardens, and green spaces. When it comes to <span class="text-[#01576E] underline">Georgia Real Estate</span> in an active city, it doesn’t get more vibrant than Atlanta.</p>
  </div>

  <span class="flex w-[84vw] h-[2px] bg-gray-200 z-10 -mb-[30px] mt-[50px]"></span>

  <%= render 'layouts/search', class: "relative z-10" %>

  <div class="flex flex-col md:flex-row justify-between items-center w-full px-[8vw] pb-5 pt-5">
    <p class="bg-[#262A39] px-5 py-1 rounded-md text-white"><span class="font-bold"><%= @listings.length %></span> Available Listings</p>
    <div class="mt-4 md:mt-0 w-full flex justify-center items-center gap-2 md:block md:w-auto">
      <button class="bg-[#01576E] text-white text-[0.6rem] md:text-[0.8125rem] py-[6px] px-6 rounded-sm">SAVE SEARCH</button>
      <button class="border-2 text-[#01576E] text-[0.6rem] md:text-[0.8125rem] border-[#01576E] font-bold py-[4px] md:py-[4.5px] rounded-sm px-3">SHARE</button>
      <select class="w-auto xl:w-[10vw] text-xs px-4 py-[4px] md:py-[7px] focus:ring-[#01576E] focus:border-[#01576E]"><option>Newest Listings</option></select>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 mx-[8vw]">
    <% @listings.each do |listing| %>
      <div class="flex flex-col">
        <div class="relative">
          <%= image_tag listing.image, alt: 'Listing Image' %>
          <div class="h-10 w-10 bg-black absolute top-[15px] right-[11px] cursor-pointer rounded-full flex items-center justify-center transition transform hover:scale-110">
            <%= image_tag 'Vectorheart.svg', alt: 'Like icon', class: "" %>
          </div>
          <div class="absolute bottom-0 right-0 py-[10px] font-bold px-[17px] text-[0.62rem] bg-[#b0c166]">NEWLY LISTED</div>
        </div>
        <h4 class="text-[1.75rem] font-semibold pt-3">$300,000</h4>
        <h5 class="mt-1 text-[0.875rem] font-bold"><%= listing.description %></h5>
        <div class="pt-3 pb-[1.5rem]">
          <h3 class="text-[0.75rem] font-medium"><%= listing.address %></h3>
        </div>
        <p class="text-[0.625rem] font-medium pb-3">Realty ONE Group DocksideNorth</p>
        <span class="h-1 w-full bg-[#97B9BC] mb-8"></span>
      </div>
    <% end %>
  </div>

  <div class="pt-10 pb-10 font-medium">
    <button class="bg-[#789195] text-white px-3 py-[5px]">1</button>
    <button class=" px-3 py-[5px]">2</button>
    <button class=" px-3 py-[5px]">3</button>
    <button class=" px-3 py-[5px]">NEXT</button>
  </div>

  <span class="h-[0.35rem] w-[83vw] bg-[#97B9BC] mb-10"></span>

  <span class="flex items-center gap-6 pb-10">
    <p class="text-[#00586E]"> For Sale </p>
    <%= image_tag 'arrow.png', alt: 'Example Image', class: "h-2" %>
    <p class="text-[#00586E]"> Georgia </p>
    <%= image_tag 'arrow.png', alt: 'Example Image', class: "h-2" %>
    <p> Atlanta </p>
  </span>

  <div class="bg-[#262936] w-[83vw] px-[2vw] py-[60px] mb-[5.25rem] grid grid-cols-1 min-[502px]:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[1.25rem] justify-center items-center text-[#86B6B9]">
    <div class="lg:w-[21vw] leading-8">
      <h5 class="text-white 2xl:!text-[1.4rem] lg:text-[1.2rem] font-bold pb-5">Nearby Real Estate</h5>
      <div class="text-[0.8rem] lg:text-base">
        <p class="lg:mb-2">Open Houses</p>
        <p class="lg:mb-2">Land for Sale Near Me</p>
        <p class="lg:mb-2">Townhomes for Sale Near Me</p>
        <p class="font-bold">See All</p>
      </div>
    </div>
    <div class="lg:w-[21vw] leading-8">
      <h5 class="text-white 2xl:!text-[1.4rem] font-bold pb-5 lg:text-[1.2rem]">Nearby Zip Codes</h5>
      <div class="text-[0.8rem] lg:text-base">
        <p class="lg:mb-2">31198</p>
        <p class="lg:mb-2">30314</p>
        <p class="lg:mb-2">31191</p>
        <p class="font-bold">See All</p>
      </div>
    </div>
    <div class="lg:w-[21vw] leading-8 xl:ml-[14%]">
      <h5 class="text-white 2xl:!text-[1.4rem] lg:text-[1.2rem] font-bold pb-5">Atlanta Neighborhoods</h5>
      <div class="text-[0.8rem] lg:text-base">
        <p class="lg:mb-2">Bankhead</p>
        <p class="lg:mb-2">Vine City</p>
        <p class="lg:mb-2">Atlanta University Center</p>
        <p class="font-bold">See All</p>
      </div>
    </div>
    <div class="lg:w-[21vw] leading-8 xl:ml-[14%]">
      <h5 class="text-white 2xl:!text-[1.4rem] lg:text-[1.2rem] font-bold pb-5">Atlanta Property Types</h5>
      <div class="text-[0.8rem] lg:text-base">
        <p class="lg:mb-2">For Sale by Owner (FSBO)</p>
        <p class="lg:mb-2">Single Family Homes</p>
        <p class="lg:mb-2">Condos</p>
        <p class="font-bold">See All</p>
      </div>
    </div>
  </div>

</div>
