<div class="w-full bg-[#86B6B9] flex justify-center">
<div class="sm:px-[10vw] xl:!max-w-[1420px] min-[576px]:max-w-[1280px] font-inter flex flex-col justify-center items-center">
  <div class="flex  gap-20 lg:!gap-2 justify-center flex-wrap lg:flex-nowrap columns-2 lg:columns-3 pt-14">
    <div class="w-[16.6%] pr-[70px]">
      <%= image_tag 'logo-footer2.svg', alt: 'EZ Home logo', class: "max-w-[106px]" %>
    </div>
    <div class="flex flex-col mr-[10px] w-[50%] sm:w-[60%]">
      <h2 class="xl:text-[44px] text-[37px] -mt-3 leading-snug text-white max-w-460px font-medium pb-10">A better way to discover real state</h2>
      <div class="flex flex-wrap sm:flex-nowrap gap-4 pb-6">
        <p class="hover:text-white cursor-pointer">Find a Home</p>
        <p class="hover:text-white cursor-pointer">Sell</p>
        <p class="hover:text-white cursor-pointer">Where to Live</p>
        <p class="hover:text-white cursor-pointer">Neighborhoods</p>
      </div>
      <div class="flex flex-wrap sm:flex-nowrap gap-5 text-[0.72rem] min-[1520px]:text-[0.8rem] pb-6">
        <p class="hover:text-white cursor-pointer">Blog</p>
        <p class="hover:text-white cursor-pointer">Favorites</p>
        <p class="hover:text-white cursor-pointer">Saved Searches</p>
        <p class="hover:text-white cursor-pointer">Login</p>
        <p class="hover:text-white cursor-pointer">About EZ Home Search</p>
      </div>
    </div>
    <div class="flex flex-col text-lg w-[81%] lg:w-[50%] lg:pl-[60px] basis-auto">
      <p>3541 Fountain Lane</p>
      <p>Myrtle Beach, SC 29577</p>
      <p>(843) 310-6220</p>
      <div class="flex w-full items-center justify-between pt-10">
        <div class="flex gap-4 pt-4 items-center">
          <%= image_tag 'face.png', alt: 'Facebook logo', class: "w-7 h-7" %>
          <%= image_tag 'insta.png', alt: 'Instagram logo', class: "w-6 h-6" %>
          <%= image_tag 'linked.png', alt: 'Linkedin logo', class: "w-6 h-6" %>
        </div>
        <div class="lg:pr-4">
          <%= image_tag 'eho-realtor.webp', alt: 'Realtor logo', class: "w-28" %>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:ml-[16.6%] border-t-2 border-white mx-4 lg:mx-1 mt-10">
    <h4 class="text-xl font-bold pb-4 pt-10">Locations</h4>
    <div class="columns-1 min-[576px]:columns-2 md:columns-3 xl:columns-4 underline">
      <ul class=" list-none">
        <li class="label break-inside-avoid font-bold text-[0.75rem] uppercase"><a href="#">Arkansas</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Northwest Arkansas</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase"><a href="#">Arizona</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Phoenix</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase"><a href="#">Colorado</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Boulder</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Denver</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Connecticut</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Fairfield</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Hartford</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Litchfield</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">New Haven</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">New London</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Windham</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">District Of Columbia</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Washington</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Delaware</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Dover</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Seaford</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Florida</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Cape Coral/Fort Myers</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Daytona Beach - Ormond Beach</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]"><a href="#">Fort Lauderdale</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Gainesville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Jacksonville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Lakeland - Winter Haven</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Miami</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Naples-Marco Island</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Ocala</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Okeechobee</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Orlando</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Palm Bay-Melbourne</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Palm Beach</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Palm Coast</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Panama City</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Pensacola </a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Port St Lucie</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Punta Gorda</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Sarasota</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Sebastian - Vero Beach</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Sebring</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">St Petersburg</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Tallahassee</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Tampa</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Georgia</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Athens </a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Atlanta Metro</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Augusta</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Columbus </a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">LaGrange</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Macon</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Savannah</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Valdosta</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Warner Robins</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Idaho</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Idaho Falls</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Kootenai</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Indiana</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Northwest Indiana</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Maryland</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Baltimore</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Cambridge</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Cumberland</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Easton</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Lexington Park</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Ocean Pines</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Salisbury</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">North Carolina</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Asheville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Boone</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Charlotte</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Durham / Chapel Hill</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Fayetteville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Greensboro</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Greenville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Hickory</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Jacksonville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Lumberton</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">New Bern</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Outer Banks</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Pinehurst-Southern Pines</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Raleigh</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Roanoke Rapids</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Rocky Mount</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Sanford</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Wilmington</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Wilson</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Winston-Salem</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">New Jersey</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Atlantic City</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Newark</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Trenton</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Vineland</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Nevada</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Las Vegas</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Reno</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Ohio</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Cleveland</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Pennsylvania</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Allentown</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Harrisburg-Carlisle</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Philadelphia</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Pittsburgh</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Reading</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Scranton</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">South Carolina</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Aiken-North Augusta</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Charleston</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Columbia</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Florence</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Georgetown</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Greenville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Greenwood</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Hilton Head</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Myrtle Beach</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Seneca</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Spartanburg</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Sumter</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Tennessee</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Chattanooga</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Jackson</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Knoxville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Memphis</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Texas</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Galveston</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Houston</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Virginia</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Albemarle</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Charlottesville</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Lynchburg</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Northern Virgina</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Richmond</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Roanoke</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Virginia Beach-Norfolk-Newport News</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">Washington</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Spokane</a></li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" ><a href="#">West Virginia</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Morgantown</a></li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" ><a href="#">Parkersburg</a></li>
      </ul>
  </div>
  <div class="pb-14 border-t-2 border-white mt-10">
    <div class="flex flex-col mt-6 lg:flex-row gap-10 justify-center items-center font-bold lg:justify-between text-[10px]">
      <div class="flex gap-4 lg:gap-7 flex-wrap min-[576px]:flex-nowrap justify-center">
          <a class="hover:text-gray-200" href="#">Accessibility</a>
          <a class="hover:text-gray-200" href="#">Terms of Service</a>
          <a class="hover:text-gray-200" href="#">Privacy Policy</a>
          <a class="hover:text-gray-200" href="#">DMCA Notice</a>
          <a class="hover:text-gray-200" href="#">Sitemap</a>
      </div>
      <div class="">
        <p class="">© Copyright 2024 EZ Home Search. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
</div>
