<div class="w-full bg-[#86B6B9] flex justify-center">
<div class="sm:px-[10vw] xl:!max-w-[1420px] min-[576px]:max-w-[1280px] font-inter flex flex-col justify-center items-center">
  <div class="flex  gap-20 lg:!gap-2 justify-center flex-wrap lg:flex-nowrap columns-2 lg:columns-3 pt-14">
    <div class="w-[16.6%] pr-[70px]">
      <%= image_tag 'logo-footer2.svg', alt: 'EZ Home logo', class: "max-w-[106px]" %>
    </div>
    <div class="flex flex-col mr-[10px] w-[50%] sm:w-[60%]">
      <h2 class="xl:text-[44px] text-[37px] -mt-3 leading-snug text-white max-w-460px font-medium pb-10">A better way to discover real state</h2>
      <div class="flex flex-wrap sm:flex-nowrap gap-4 pb-6">
        <p class="hover:text-white cursor-pointer">Find a Home</p>
        <p class="hover:text-white cursor-pointer">Sell</p>
        <p class="hover:text-white cursor-pointer">Where to Live</p>
        <p class="hover:text-white cursor-pointer">Neighborhoods</p>
      </div>
      <div class="flex flex-wrap sm:flex-nowrap gap-5 text-[0.72rem] min-[1520px]:text-[0.8rem] pb-6">
        <p class="hover:text-white cursor-pointer">Blog</p>
        <p class="hover:text-white cursor-pointer">Favorites</p>
        <p class="hover:text-white cursor-pointer">Saved Searches</p>
        <p class="hover:text-white cursor-pointer">Login</p>
        <p class="hover:text-white cursor-pointer">About EZ Home Search</p>
      </div>
    </div>
    <div class="flex flex-col text-lg w-[81%] lg:w-[50%] lg:pl-[60px] basis-auto">
      <p>3541 Fountain Lane</p>
      <p>Myrtle Beach, SC 29577</p>
      <p>(843) 310-6220</p>
      <div class="flex w-full items-center justify-between pt-10">
        <div class="flex gap-4 pt-4 items-center">
          <%= image_tag 'face.png', alt: 'Facebook logo', class: "w-7 h-7" %>
          <%= image_tag 'insta.png', alt: 'Instagram logo', class: "w-6 h-6" %>
          <%= image_tag 'linked.png', alt: 'Linkedin logo', class: "w-6 h-6" %>
        </div>
        <div class="lg:pr-4">
          <%= image_tag 'eho-realtor.webp', alt: 'Realtor logo', class: "w-28" %>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:ml-[16.6%] border-t-2 border-white mx-4 lg:mx-1 mt-10">
    <h4 class="text-xl font-bold pb-4 pt-10">Locations</h4>
    <div class="columns-1 min-[576px]:columns-2 md:columns-3 xl:columns-4 underline">
      <div class="label break-inside-avoid font-bold text-[0.75rem] uppercase">
        <p>Arkansas</p>
      </div>
      <ul class=" list-none">
        <li class="text-[14px] break-inside-avoid pt-[8px]">Northwest Arkansas</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase">Arizona</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Phoenix</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase">Colorado</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Boulder</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Denver</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Connecticut</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Fairfield</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Hartford</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Litchfield</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">New Haven</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">New London</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Windham</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >District Of Columbia</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Washington</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Delaware</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Dover</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Seaford</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Florida</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Cape Coral/Fort Myers</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Daytona Beach - Ormond Beach</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]">Fort Lauderdale</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Gainesville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Jacksonville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Lakeland - Winter Haven</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Miami</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Naples-Marco Island</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Ocala</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Okeechobee</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Orlando</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Palm Bay-Melbourne</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Palm Beach</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Palm Coast</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Panama City</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Pensacola </li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Port St Lucie</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Punta Gorda</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Sarasota</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Sebastian - Vero Beach</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Sebring</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >St Petersburg</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Tallahassee</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Tampa</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Georgia</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Athens </li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Atlanta Metro</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Augusta</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Columbus </li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >LaGrange</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Macon</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Savannah</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Valdosta</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Warner Robins</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Idaho</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Idaho Falls</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Kootenai</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Indiana</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Northwest Indiana</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Maryland</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Baltimore</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Cambridge</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Cumberland</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Easton</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Lexington Park</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Ocean Pines</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Salisbury</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >North Carolina</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Asheville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Boone</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Charlotte</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Durham / Chapel Hill</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Fayetteville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Greensboro</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Greenville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Hickory</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Jacksonville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Lumberton</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >New Bern</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Outer Banks</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Pinehurst-Southern Pines</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Raleigh</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Roanoke Rapids</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Rocky Mount</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Sanford</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Wilmington</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Wilson</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Winston-Salem</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >New Jersey</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Atlantic City</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Newark</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Trenton</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Vineland</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Nevada</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Las Vegas</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Reno</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Ohio</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Cleveland</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Pennsylvania</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Allentown</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Harrisburg-Carlisle</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Philadelphia</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Pittsburgh</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Reading</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Scranton</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >South Carolina</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Aiken-North Augusta</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Charleston</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Columbia</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Florence</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Georgetown</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Greenville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Greenwood</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Hilton Head</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Myrtle Beach</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Seneca</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Spartanburg</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Sumter</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Tennessee</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Chattanooga</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Jackson</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Knoxville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Memphis</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Texas</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Galveston</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Houston</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Virginia</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Albemarle</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Charlottesville</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Lynchburg</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Northern Virgina</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Richmond</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Roanoke</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Virginia Beach-Norfolk-Newport News</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >Washington</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Spokane</li>
        <li class="label break-inside-avoid pt-[30px] font-bold  text-[0.75rem] uppercase" >West Virginia</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Morgantown</li>
        <li class="text-[14px] break-inside-avoid pt-[8px]" >Parkersburg</li>
      </ul>
  </div>
  <div class="pb-14 border-t-2 border-white mt-10">
    <div class="flex flex-col mt-6 lg:flex-row gap-10 justify-center items-center font-bold lg:justify-between text-[10px]">
      <div class="flex gap-4 lg:gap-7 flex-wrap min-[576px]:flex-nowrap justify-center">
          <a class="hover:text-gray-200" href="#">Accessibility</a>
          <a class="hover:text-gray-200" href="#">Terms of Service</a>
          <a class="hover:text-gray-200" href="#">Privacy Policy</a>
          <a class="hover:text-gray-200" href="#">DMCA Notice</a>
          <a class="hover:text-gray-200" href="#">Sitemap</a>
      </div>
      <div class="">
        <p class="">© Copyright 2024 EZ Home Search. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
</div>
