<div class="w-full bg-[#86B6B9] font-inter flex flex-col justify-center items-center">
  <div class="flex min-[576px]:max-w-[980px] min-[1500px]:max-w-[1100px] gap-20 lg:gap-4 justify-center flex-wrap lg:flex-nowrap columns-2 lg:columns-3 pt-14">
    <div class="w-[16.6%] pr-[70px]">
      <%= image_tag 'logo-footer2.svg', alt: 'EZ Home logo', class: "max-w-[106px]" %>
    </div>
    <div class="flex flex-col mr-[10px] w-[50%] sm:w-[60%] basis-auto">
      <h2 class="text-[44px] leading-10 text-white max-w-460px font-medium pb-10">A better way to discover real state</h2>
      <div class="flex flex-wrap sm:flex-nowrap gap-4 pb-6">
        <p>Find a Home</p>
        <p>Sell</p>
        <p>Where to Live</p>
        <p>Neighborhoods</p>
      </div>
      <div class="flex flex-wrap sm:flex-nowrap gap-5 text-[0.72rem] min-[1520px]:text-[0.8rem] pb-6">
        <p>Blog</p>
        <p>Favorites</p>
        <p>Saved Searches</p>
        <p>Login</p>
        <p>About EZ Home Search</p>
      </div>
    </div>
    <div class="flex flex-col text-lg w-[81%] lg:w-[50%] lg:pl-[60px] basis-auto">
      <p>3541 Fountain Lane</p>
      <p>Myrtle Beach, SC 29577</p>
      <p>(843) 310-6220</p>
      <div class="flex w-full items-center justify-between pt-10">
        <div class="flex gap-4 pt-4 items-center">
          <%= image_tag 'face.png', alt: 'Facebook logo', class: "w-7 h-7" %>
          <%= image_tag 'insta.png', alt: 'Instagram logo', class: "w-6 h-6" %>
          <%= image_tag 'linked.png', alt: 'Linkedin logo', class: "w-6 h-6" %>
        </div>
        <div>
          <%= image_tag 'eho-realtor.webp', alt: 'Realtor logo', class: "w-28" %>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:ml-[16.6%] border-t-2 border-white mx-4 mt-10">
    <h4 class="text-xl font-bold pb-4 pt-10">Locations</h4>
    <div class="columns-1 min-[576px]:columns-2 md:columns-3 xl:columns-4 underline">
      <div class="label break-inside-avoid font-bold break-inside-avoid-page text-[0.75rem] uppercase">
        <p>Arkansas</p>
      </div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Northwest Arkansas</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Arizona</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Phoenix</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Colorado</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Boulder</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Denver</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Connecticut</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Fairfield</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Hartford</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Litchfield</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >New Haven</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p>New London</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Windham</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>District Of Columbia</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Washington</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Delaware</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Dover</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Seaford</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Florida</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Cape Coral/Fort Myers</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Daytona Beach - Ormond Beach</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Fort Lauderdale</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Gainesville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Jacksonville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Lakeland - Winter Haven</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Miami</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Naples-Marco Island</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Ocala</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Okeechobee</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Orlando</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Palm Bay-Melbourne</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Palm Beach</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Palm Coast</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Panama City</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Pensacola </p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Port St Lucie</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Punta Gorda</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Sarasota</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Sebastian - Vero Beach</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Sebring</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >St Petersburg</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Tallahassee</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Tampa</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Georgia</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Athens </p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Atlanta Metro</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Augusta</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Columbus </p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >LaGrange</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Macon</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Savannah</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Valdosta</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Warner Robins</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Idaho</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Idaho Falls</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Kootenai</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Indiana</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Northwest Indiana</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Maryland</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Baltimore</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Cambridge</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Cumberland</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Easton</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Lexington Park</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Ocean Pines</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Salisbury</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>North Carolina</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Asheville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Boone</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Charlotte</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Durham / Chapel Hill</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Fayetteville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Greensboro</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Greenville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Hickory</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Jacksonville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Lumberton</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >New Bern</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Outer Banks</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Pinehurst-Southern Pines</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Raleigh</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Roanoke Rapids</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Rocky Mount</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Sanford</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Wilmington</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Wilson</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Winston-Salem</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>New Jersey</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Atlantic City</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Newark</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Trenton</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Vineland</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Nevada</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Las Vegas</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Reno</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Ohio</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Cleveland</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Pennsylvania</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Allentown</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Harrisburg-Carlisle</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Philadelphia</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Pittsburgh</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Reading</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Scranton</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>South Carolina</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Aiken-North Augusta</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Charleston</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Columbia</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Florence</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Georgetown</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Greenville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Greenwood</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Hilton Head</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Myrtle Beach</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Seneca</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Spartanburg</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Sumter</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Tennessee</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Chattanooga</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Jackson</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Knoxville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Memphis</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Texas</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Galveston</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Houston</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Virginia</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Albemarle</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Charlottesville</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Lynchburg</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Northern Virgina</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Richmond</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Roanoke</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Virginia Beach-Norfolk-Newport News</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>Washington</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Spokane</p></div>
      <div class="label break-inside-avoid pt-[30px] font-bold break-inside-avoid-page text-[0.75rem] uppercase"><p>West Virginia</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Morgantown</p></div>
      <div class="text-[14px] break-inside-avoid break-inside-avoid-page pt-[8px]"><p >Parkersburg</p></div>
  </div>
  <div class="pb-14 border-t-2 border-white mt-10">
    <div class="flex flex-col mt-6 lg:flex-row gap-10 justify-center items-center font-bold lg:justify-between text-[10px]">
      <div class="flex gap-4 lg:gap-7 flex-wrap min-[576px]:flex-nowrap justify-center">
          <a class="hover:text-gray-200" href="#">Accessibility</a>
          <a class="hover:text-gray-200" href="#">Terms of Service</a>
          <a class="hover:text-gray-200" href="#">Privacy Policy</a>
          <a class="hover:text-gray-200" href="#">DMCA Notice</a>
          <a class="hover:text-gray-200" href="#">Sitemap</a>
      </div>
      <div class="">
        <p class="">© Copyright 2024 EZ Home Search. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
