<!DOCTYPE html>
<html>
  <head>
    <title>EZ HOME LISTINGS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "button", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <main class="mx-auto flex font-inter">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
